.dark {
    --background-color: #424242;
    --font-color: #fff;
    --hovered-font-color: #cccccc;
    --input-text-color: rgba(209, 213, 219);
    --input-background-color: rgba(31, 41, 55);
    --error-message-color: #d32f2f;
}

.light {
    --background-color: #fff;
    --font-color: rgba(0, 0, 0, 0.87);
    --hovered-font-color: #333333;
    --input-text-color: rgba(55, 65, 81);
    --input-background-color: rgba(209, 213, 219);
    --error-message-color: #e57373;
}
