@import "./globals";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    user-select: none;

    background-color: var(--background-color);
    color: var(--font-color);
}

nav {
    background-color: var(--background-color);
}
