@import "./variables";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    user-select: none;

    background-color: var(--background-color);
    color: var(--font-color);
}

nav,
footer {
    background-color: var(--background-color);
}

a:hover {
    color: var(--hovered-font-color);
    font-weight: bold;
}
